body {
    background-color:antiquewhite;
}

h1 {
    color: #060047;
    font-size: 4rem;
    text-align: center;
    margin-top: 50px;
}

img {
    width: 20%;
    display: block;
    margin-left:40%;
    margin-right:40%;
    margin-top: 5%;
}

p {
    color: black;
    text-align: justify;
    margin: 5% 25%;
    line-height: 25px;
    font-size: 1rem;
}

.visit-link {
    font-weight: 500;
}

.github-btn {
    background-color:aquamarine;
    border: none;
    border-radius: 5px;
    color: black;
    height: 30px;
    width: 100px;
    text-decoration: none;
    font-weight: bold;
}

.github-btn:hover {
    background-color: #060047;
    color: white;
    cursor: pointer;
}

.link {
    display: block;
    margin-right: 30%;
    margin-left: 30%;
}